body{
    background-color: #efefef;
}
.main{
    margin:30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.right{
    float:right;
}
.page-height{
    height: 80px;
    line-height: 80px;
}
.profile .section{
    margin-top: 20px;
}
.question-title{
    margin-top: 15px;
}
.community-menu{
    color: #999999;
    font-size: 13px;
    margin-bottom: 15px;
    display: block;
}
.jumbotron{
    margin: 50px;
}
.comment{
    margin: 10px 0;
}
.comment-btn{
    margin-bottom: 10px;
}
.comments{
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}
.comment-sp{
    margin-top: 0;
}
.menu{
    color: #999999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;

}
.menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon:hover{
    color: #499ef3;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}