body{
    background-color: #efefef;
}
.main{
    margin:30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.right{
    float:right;
}
.page-height{
    height: 80px;
    line-height: 80px;
}
.profile .section{
    margin-top: 20px;
}
.community-menu{
    color: #999999;
    font-size: 12px;
}